<mat-grid-list cols="12">
    <mat-grid-tile colspan=6 rowspan="6">
        <img mat-card-image src="{{product.imgHref}}">
    </mat-grid-tile>
    <mat-grid-tile colspan="6" rowspan="2">
        <h1>{{product.name}}</h1>
    </mat-grid-tile>
    <mat-grid-tile colspan="6" rowspan="2">
        <div class="flex-end gutter">
            <label>Price:</label>
            <label>Shipping:</label>
        </div>
        <div class="flex-start gutter">
            <span class="price-display">{{formattedPrice(product.id)}}</span>
            <span class="shipping-display">Eventually</span>
        </div>

    </mat-grid-tile>
    <mat-grid-tile colspan="6" rowspan="2">
        <button mat-raised-button (click)="buy()">Buy Now</button>
        <button mat-raised-button (click)="addToCart()"><mat-icon>add_shopping_cart</mat-icon></button>
    </mat-grid-tile>
</mat-grid-list>
