@import '~@angular/material/_theming';

$custom-typography: mat-typography-config(
  $font-family: 'Oswald, sans-serif',
  $display-4:     mat-typography-level(150px, 146px, 300),
  $display-3:     mat-typography-level(73px, 73px, 400),
  $display-2:     mat-typography-level(59px, 63px, 400),
  $display-1:     mat-typography-level(44px, 52px, 400),
  $headline:      mat-typography-level(31px, 42px, 400),
  $title:         mat-typography-level(26px, 42px, 500),
  $subheading-2:  mat-typography-level(21px, 36px, 400),
  $subheading-1:  mat-typography-level(19px, 31px, 400),
  $body-2:        mat-typography-level(18px, 31px, 500),
  $body-1:        mat-typography-level(18px, 26px, 400),
  $caption:       mat-typography-level(16px, 26px, 400),
  $button:        mat-typography-level(18px, 18px, 500),
    // Line-height must be unit-less fraction of the font-size.
  $input:         mat-typography-level(21px, 1.125, 400)
);

// Override typography CSS classes (e.g., mat-h1, mat-display-1, mat-typography, etc.).
@include mat-base-typography($custom-typography);

// Override typography for a specific Angular Material components.
@include mat-checkbox-typography($custom-typography);

// Override typography for all Angular Material, including mat-base-typography and all components.
@include angular-material-typography($custom-typography);

// Override the typography in the core CSS.
@include mat-core($custom-typography);