.card-image-container{
    margin: auto;
}
.card-container{
    min-height: 100%;
    min-width: 100%;
    max-height: 100%;
    max-width: 100%;
    width: 100%;
    height: 100%;
}
.card-details-container{
    padding: 12px;
}
.mat-card{
    min-height: 95%;
    max-height:95%;
    min-width: 95%;
    max-width: 95%;
    height: 95%;
    width: 95%;
    padding: 0;
    margin: auto;
    border: 1px solid #eee;
}
.mat-card img{
    cursor: pointer;
    max-height: 100%;
    max-width: 100%;
    width: auto;
    height: auto;
    margin: 0 auto;
}
mat-card-header{
    margin-bottom: 6px;
}
mat-card-title a{
    cursor: pointer;
    text-decoration: none;
    /*color: #0066c0;*/
}
mat-card-title a:hover{
    text-decoration: underline;
    cursor: pointer;
    color: #c45500;
}

.shipping-display{

}