md-card img{
    cursor: pointer;
}
md-card-header{
    margin-bottom: 6px;
}
md-card-title a{
    cursor: pointer;
    text-decoration: none;
    color: #0066c0;
}
md-card-title a:hover{
    text-decoration: underline;
    cursor: pointer;
    color: #c45500;
}

.shipping-display{

}