<mat-grid-list cols="12" rowHeight="500px">
  <mat-grid-tile *ngFor="let product of products | async" colspan="3">
    <mat-card>
      <img mat-card-image src="{{product.imgHref}}" (click)="redirect(product.id)">
      <mat-card-header>
        <mat-card-title>
          <a (click)="redirect(product.id)">
            <span>{{product.name}}</span>
          </a>
        </mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <span class="price-display">{{formattedPrice(product)}}</span>
        <span class="shipping-display">Ships eventually</span>
      </mat-card-content>
      <!--<mat-card-actions>-->
        <!--<button mat-raised-button (click)="redirect(product.id)">More Information</button>-->
        <!--<button mat-raised-button (click)="addToCart()"><mat-icon>add_shopping_cart</mat-icon></button>-->
      <!--</mat-card-actions>-->
    </mat-card>
  </mat-grid-tile>
</mat-grid-list>
