<mat-grid-list cols="12" rowHeight="500px" gutterSize="24px">
  <mat-grid-tile *ngFor="let product of products" colspan="3">
    <div class="card-container">
      <mat-card>
        <div fxFlexFill fxLayout="column" fxFlex="100%">
          <div class="card-details-container" fxFlexFill fxLayout="row" fxFlex="100%">
            <div fxFlex="100%" fxLayout="column" fxFlexFill>

              <div class="card-image-container" fxFlex="50%">
                <img *ngIf="getThumbnail(product)" [src]="getThumbnail(product) | safeImage" (click)="redirect(product.id)">
              </div>
              <div fxFlex="25%">
                <mat-card-header >
                  <mat-card-title>
                    <a (click)="redirect(product.id)">
                      <span>{{product.name}}</span>
                    </a>
                  </mat-card-title>
                </mat-card-header>
              </div>
              <div fxFlex="25%">
                <mat-card-content>
                  <span class="price-display">{{formattedPrice(product)}}</span>
                  <span class="shipping-display">Ships eventually</span>
                </mat-card-content>
              </div>

            </div>
          </div>
        </div>
      </mat-card>
    </div>
  </mat-grid-tile>
</mat-grid-list>
