.image-container{
    width: 100%;
    height: 100%;
    position: absolute;
}

current-images-remove-image-fab{
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.image-container:hover current-images-remove-image-fab{
    display: block;
}