swiper{
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}

.slider-container{
    width: 100%;
    height: 100%;
}

.slider-slide-container{
    overflow: hidden !important;
    box-sizing: border-box;
}

.slide-wrapper{
    padding: 50px 0;
    height: 100%;
}

.slider-slide-content-container{
    width: 80%;
    height: 100%;
    max-height: 100%;
    max-width: 100%;
    margin: auto;
}