<div class="container">
  <h1>Checkout</h1>
  <form [formGroup]="checkoutForm" #formDir="ngForm" (ngSubmit)="onSubmit()" class="checkout-form">
    <md-accordion class="align-headers">
      <md-expansion-panel [expanded]="step === 0" (opened)="setStep(0)" hideToggle="true">
        <md-expansion-panel-header>
          <md-panel-title>
            Shipping Address
          </md-panel-title>
          <md-panel-description>
            <md-icon>local_shipping</md-icon>
          </md-panel-description>
        </md-expansion-panel-header>
        <!--First Name-->
        <md-form-field class="full-width">
          <label for="firstName">First Name</label>
          <input mdInput id="firstName"
                 formControlName="firstName" required
           >
          <md-error *ngIf="firstName.invalid && (firstName.dirty || firstName.touched)">
            First name is <strong>required</strong>
          </md-error>
        </md-form-field>

        <!--Last Name-->
        <md-form-field class="full-width">
          <label for="lastName">Last Name</label>
          <input mdInput type="text" id="lastName"
                 required
                 formControlName="lastName"
          >
          <md-error *ngIf="lastName.invalid && (lastName.dirty || lastName.touched)">
            Last name is <strong>required</strong>
          </md-error>
        </md-form-field>

        <!--Address 1-->
        <md-form-field class="full-width">
          <label for="address1">Address 1</label>
          <input mdInput type="text" id="address1"
                 required
                 formControlName="address1"
          >
          <md-error *ngIf="address1.invalid && (address1.dirty || address1.touched)">
            Address 1 is <strong>required</strong>
          </md-error>
        </md-form-field>

        <!--Address 2-->
        <md-form-field class="full-width">
          <label for="address2">Address 2</label>
          <input mdInput type="text" id="address2"
                 required
                 formControlName="address2"
          >
        </md-form-field>

        <!--City-->
        <md-form-field class="full-width">
          <label for="city">City</label>
          <input mdInput type="text" id="city"
                 required
                 formControlName="city"
          >
          <md-error *ngIf="city.invalid && (city.dirty || city.touched)">
            City is <strong>required</strong>
          </md-error>
        </md-form-field>

        <!--State-->
        <md-form-field class="full-width">
          <label for="state">State</label>
          <input mdInput type="text" id="state"
                 required
                 formControlName="state"
          >
          <md-error *ngIf="state.invalid && (state.dirty || state.touched)">
            State is <strong>required</strong>
          </md-error>
        </md-form-field>

        <!--Zip-->
        <md-form-field class="full-width">
          <label for="zip">Zip Code</label>
          <input mdInput type="text" id="zip"
                 required
                 formControlName="zip"
          >
          <md-error *ngIf="zip.invalid && (zip.dirty || zip.touched)">
            Zip is <strong>required</strong>
          </md-error>
        </md-form-field>

        <!--Phone-->
        <md-form-field class="full-width">
          <label for="phone">Phone</label>
          <input mdInput type="text" id="phone"
                 required
                 formControlName="phone"
          >
          <md-error *ngIf="phone.invalid && (phone.dirty || phone.touched)">
            Phone is <strong>required</strong>
          </md-error>
        </md-form-field>


        <md-action-row>
          <button md-raised-button color="primary" (click)="nextStep()">Save and continue</button>
        </md-action-row>
      </md-expansion-panel>

      <md-expansion-panel [expanded]="step === 1" (opened)="setStep(1)" hideToggle="true">
        <md-expansion-panel-header>
          <md-panel-title>
            Shipping Method
          </md-panel-title>
          <md-panel-description>
            <md-icon>redeem</md-icon>
          </md-panel-description>
        </md-expansion-panel-header>

        <md-radio-group class="shipping-radio-group" formControlName="shippingSelection">
          <md-radio-button class="shipping-radio-button" *ngFor="let shippingOption of shippingOptions" [value]="shippingOption">
            {{shippingOption}}
          </md-radio-button>
        </md-radio-group>

        <md-action-row>
          <button md-raised-button color="warn" (click)="prevStep()">Go back</button>
          <button md-raised-button color="primary" (click)="nextStep()">Save and continue</button>
        </md-action-row>
      </md-expansion-panel>

      <md-expansion-panel [expanded]="step === 2" (opened)="setStep(2)" hideToggle="true">
        <md-expansion-panel-header>
          <md-panel-title>
            Payment
          </md-panel-title>
          <md-panel-description>
            <md-icon>payment</md-icon>
          </md-panel-description>
        </md-expansion-panel-header>

        <!--Card number-->
        <md-form-field class="full-width">
          <label for="cardNumber">Card Number</label>
          <input mdInput id="cardNumber"
                 formControlName="cardNumber" required
          >
          <md-error *ngIf="cardNumber.invalid && (cardNumber.dirty || cardNumber.touched)">
            Card number is <strong>required</strong>
          </md-error>
        </md-form-field>

        <!--Card expiration month-->
        <md-form-field class="full-width">
          <label for="cardExpirationMonth">Expiration Month</label>
          <input mdInput id="cardExpirationMonth"
                 formControlName="cardExpirationMonth" required
          >
          <md-error *ngIf="cardExpirationMonth.invalid && (cardExpirationMonth.dirty || cardExpirationMonth.touched)">
            Card expiration month is <strong>required</strong>
          </md-error>
        </md-form-field>

        <!--Card Expiration Year-->
        <md-form-field class="full-width">
          <label for="cardExpirationYear">Expiration Year</label>
          <input mdInput id="cardExpirationYear"
                 formControlName="cardExpirationYear" required
          >
          <md-error *ngIf="cardExpirationYear.invalid && (cardExpirationYear.dirty || cardExpirationYear.touched)">
            Card expiration year is <strong>required</strong>
          </md-error>
        </md-form-field>

        <!--Security code-->
        <md-form-field class="full-width">
          <label for="cardSecurityCode">Security Code</label>
          <input mdInput id="cardSecurityCode"
                 formControlName="cardSecurityCode" required
          >
          <md-error *ngIf="cardSecurityCode.invalid && (cardSecurityCode.dirty || cardSecurityCode.touched)">
            Card security code is <strong>required</strong>
          </md-error>
        </md-form-field>

        <!--Use shipping as billing-->
        <md-checkbox type="checkbox" formControlName="useShippingAddressForBilling" required>
          My billing address is the same as my shipping address
        </md-checkbox>

        <!--Billing address-->
        <div *ngIf="useShippingAddressForBilling.value === false">
          <!--First Name-->
          <md-form-field class="full-width">
            <label for="billingFirstName">First Name</label>
            <input mdInput id="billingFirstName"
                   formControlName="billingFirstName" required
            >
            <md-error *ngIf="billingFirstName.invalid && (billingFirstName.dirty || billingFirstName.touched)">
              First name is <strong>required</strong>
            </md-error>
          </md-form-field>

          <!--Last Name-->
          <md-form-field class="full-width">
            <label for="billingLastName">Last Name</label>
            <input mdInput type="text" id="billingLastName"
                   required
                   formControlName="billingLastName"
            >
            <md-error *ngIf="billingLastName.invalid && (billingLastName.dirty || billingLastName.touched)">
              Last name is <strong>required</strong>
            </md-error>
          </md-form-field>

          <!--Address 1-->
          <md-form-field class="full-width">
            <label for="billingAddress1">Address 1</label>
            <input mdInput type="text" id="billingAddress1"
                   required
                   formControlName="billingAddress1"
            >
            <md-error *ngIf="billingAddress1.invalid && (billingAddress1.dirty || billingAddress1.touched)">
              Address 1 is <strong>required</strong>
            </md-error>
          </md-form-field>

          <!--Address 2-->
          <md-form-field class="full-width">
            <label for="billingAddress2">Address 2</label>
            <input mdInput type="text" id="billingAddress2"
                   required
                   formControlName="billingAddress2"
            >
          </md-form-field>

          <!--City-->
          <md-form-field class="full-width">
            <label for="billingCity">City</label>
            <input mdInput type="text" id="billingCity"
                   required
                   formControlName="billingCity"
            >
            <md-error *ngIf="billingCity.invalid && (billingCity.dirty || billingCity.touched)">
              City is <strong>required</strong>
            </md-error>
          </md-form-field>

          <!--State-->
          <md-form-field class="full-width">
            <label for="billingState">State</label>
            <input mdInput type="text" id="billingState"
                   required
                   formControlName="billingState"
            >
            <md-error *ngIf="billingState.invalid && (billingState.dirty || billingState.touched)">
              State is <strong>required</strong>
            </md-error>
          </md-form-field>

          <!--Zip-->
          <md-form-field class="full-width">
            <label for="billingZip">Zip Code</label>
            <input mdInput type="text" id="billingZip"
                   required
                   formControlName="billingZip"
            >
            <md-error *ngIf="billingZip.invalid && (billingZip.dirty || billingZip.touched)">
              Zip is <strong>required</strong>
            </md-error>
          </md-form-field>
        </div>


        contact details
        Get email address or phone number
        possibly promotional checkbox
        <md-action-row>
          <button md-raised-button color="warn" (click)="prevStep()">Go back</button>
          <button md-raised-button color="primary" (click)="nextStep()">Save and continue</button>
        </md-action-row>
      </md-expansion-panel>

      <md-expansion-panel [expanded]="step === 3" (opened)="setStep(3)" hideToggle="true">
        <md-expansion-panel-header>
          <md-panel-title>
            Review Your Order
          </md-panel-title>
          <md-panel-description>
            <md-icon>assignment</md-icon>
          </md-panel-description>
        </md-expansion-panel-header>

        <div>
          Total cost: {{checkoutTotal}}
        </div>

        section always displayed

        merchandise cost
        shipping cost
        estimated sales tax
        -------
        total

        <md-action-row>
          <button md-raised-button color="warn" (click)="prevStep()">Go back</button>
          <button md-raised-button color="primary" (click)="submit()"
                  [disabled]="checkoutForm.invalid">Submit</button>
        </md-action-row>
      </md-expansion-panel>
    </md-accordion>


  </form>
</div>