<!--The content below is only a placeholder and can be replaced.-->

<md-sidenav-container class="sidenav-container">
    <md-sidenav #sidenav mode="side" opened="{{drawerOpen}}" (open)="handleOpen($event)" (close)="handleClose($event)">

        <button md-mini-fab class="example-fab" (click)="handleClose()">
            <md-icon>close</md-icon>
        </button>
        <md-list>
            <md-list-item>
                <a routerLink="/home" routerLinkActive="active" (click)="handleClose($event)">Home</a>
            </md-list-item>
            <md-list-item>
                <a routerLink="/about" routerLinkActive="active" (click)="handleClose($event)">About</a>
            </md-list-item>
            <md-list-item>
                <a routerLink="/vintage" routerLinkActive="active" (click)="handleClose($event)">Vintage</a>
            </md-list-item>
        </md-list>
    </md-sidenav>

    <div class="header">
        <app-main-navbar></app-main-navbar>
    </div>

    <div class="router-container">
        <router-outlet></router-outlet>
    </div>

    <div class="footer">
        <app-main-footer></app-main-footer>
    </div>
</md-sidenav-container>

