<!--The content below is only a placeholder and can be replaced.-->

<md-sidenav-container class="sidenav-container">
    <md-sidenav #sidenav mode="over" opened="{{drawerOpen}}" (open)="handleOpen($event)" (close)="handleClose($event)">
        <button md-mini-fab class="example-fab" (click)="handleClose()">
            <md-icon>add</md-icon>
        </button>
        <div class="example-scrolling-content">
            Lorem ipsum
        </div>
    </md-sidenav>

    <app-main-navbar></app-main-navbar>

    <button md-mini-fab class="example-fab" (click)="handleOpen()">
        <md-icon>add</md-icon>
    </button>

    <app-main-footer></app-main-footer>
</md-sidenav-container>

