<!--The content below is only a placeholder and can be replaced.-->

<md-sidenav-container class="sidenav-container">
    <md-sidenav #sidenav mode="over" opened="{{drawerOpen}}" (open)="handleOpen($event)" (close)="handleClose($event)">
        <button md-mini-fab class="example-fab" (click)="handleClose()">
            <md-icon>add</md-icon>
        </button>
        <a routerLink="/home">Home</a>
    </md-sidenav>

    <app-main-navbar></app-main-navbar>

    <router-outlet></router-outlet>

    <app-main-footer></app-main-footer>
</md-sidenav-container>

