.header{
    min-height: 10vh;
}

mat-sidenav{
    box-shadow: 5px 0 5px -5px #333;
}

.router-container{
    min-height: 80vh;
    overflow: hidden;
}

.footer{
}

.sidenav-content-container{
    min-width: 30vh;
    height: 100vh;
}

app-sidenav{
    width: 100%;
    height: 100%;
}