.header{
    min-height: 15vh;
    height: 15vh;
}

mat-sidenav{
    box-shadow: 5px 0 5px -5px #333;
}

mat-sidenav-container{
    min-height: 100%;
    height: 100%;
}

.router-wrapper{
    padding: 30px 0;
    margin: 0 auto;
}
.router-container{
    width: 80%;
    margin: 0 auto;
    min-height: 80vh;
    position: relative;
    overflow: hidden;
}

.footer{
    min-height: 10vh;
    bottom: 0;
}

.sidenav-content-container{
    min-width: 30vh;
    height: 100vh;
}

app-sidenav{
    width: 100%;
    height: 100%;
}