<div class="container">
  <h1>Checkout</h1>
  <form [formGroup]="checkoutForm" #formDir="ngForm" (ngSubmit)="onSubmit()" class="checkout-form">
    <md-accordion class="align-headers">
      <md-expansion-panel [expanded]="step === 0" (opened)="setStep(0)" hideToggle="true">
        <md-expansion-panel-header>
          <md-panel-title>
            1. Shipping Address
          </md-panel-title>
          <md-panel-description>
            <md-icon>local_shipping</md-icon>
          </md-panel-description>
        </md-expansion-panel-header>

        <app-address-fields [(model)]="shippingAddressModel"></app-address-fields>

        <!--Phone-->
        <md-form-field class="full-width">
          <label for="phone">Phone</label>
          <input mdInput type="text" id="phone"
                 required
                 formControlName="phone"
          >
          <md-error *ngIf="phone.invalid && (phone.dirty || phone.touched)">
            Phone is <strong>required</strong>
          </md-error>
        </md-form-field>


        <md-action-row>
          <button md-raised-button color="primary" (click)="nextStep()">Save and continue</button>
        </md-action-row>
      </md-expansion-panel>

      <md-expansion-panel [expanded]="step === 1" (opened)="setStep(1)" hideToggle="true">
        <md-expansion-panel-header>
          <md-panel-title>
            2. Shipping Method
          </md-panel-title>
          <md-panel-description>
            <md-icon>redeem</md-icon>
          </md-panel-description>
        </md-expansion-panel-header>

        <md-radio-group class="shipping-radio-group" formControlName="shippingSelection">
          <md-radio-button class="shipping-radio-button"
                           *ngFor="let shippingOption of shippingOptions"
                           [value]="shippingOption.cost">
            {{shippingOption.text}}
          </md-radio-button>
        </md-radio-group>

        <md-action-row>
          <button md-raised-button color="warn" (click)="prevStep()">Go back</button>
          <button md-raised-button color="primary" (click)="nextStep()">Save and continue</button>
        </md-action-row>
      </md-expansion-panel>

      <md-expansion-panel [expanded]="step === 2" (opened)="setStep(2)" hideToggle="true">
        <md-expansion-panel-header>
          <md-panel-title>
            3. Payment
          </md-panel-title>
          <md-panel-description>
            <md-icon>payment</md-icon>
          </md-panel-description>
        </md-expansion-panel-header>

        <app-payment-fields></app-payment-fields>

        <!--Use shipping as billing-->
        <md-checkbox type="checkbox" formControlName="useShippingAddressForBilling" required>
          My billing address is the same as my shipping address
        </md-checkbox>

        <!--Billing address-->
        <div *ngIf="useShippingAddressForBilling.value === false">
          <app-address-fields [(model)]="billingAddressModel"></app-address-fields>
        </div>


        contact details
        Get email address or phone number
        possibly promotional checkbox
        <md-action-row>
          <button md-raised-button color="warn" (click)="prevStep()">Go back</button>
          <button md-raised-button color="primary" (click)="nextStep()">Save and continue</button>
        </md-action-row>
      </md-expansion-panel>

      <md-expansion-panel [expanded]="step === 3" (opened)="setStep(3)" hideToggle="true">
        <md-expansion-panel-header>
          <md-panel-title>
            4. Review Your Order
          </md-panel-title>
          <md-panel-description>
            <md-icon>assignment</md-icon>
          </md-panel-description>
        </md-expansion-panel-header>

        <div class="checkout-review-container">
          <div class="review-label">Merchandise cost </div>
          <div>{{productTotalCost | currency:'USD':true}}</div>
        </div>

        <div class="checkout-review-container">
          <div class="review-label">Shipping cost </div>
          <div>{{shippingTotalCost | currency:'USD':true}}</div>
        </div>

        <div class="checkout-review-container">
          <div class="review-label">Estimated Sales Tax </div>
          <div>{{taxTotalCost | currency:'USD':true}}</div>
        </div>

        <div class="checkout-review-container divider-top">
          <div class="review-label">Total cost </div>
          <div>{{checkoutTotal | currency:'USD':true}}</div>
        </div>

        <md-action-row>
          <button md-raised-button color="warn" (click)="prevStep()">Go back</button>
          <button md-raised-button color="primary" (click)="submit()"
                  [disabled]="checkoutForm.invalid">Submit</button>
        </md-action-row>
      </md-expansion-panel>
    </md-accordion>


  </form>
</div>