<div class="card-container">
  <md-card class="inset card-hover">
    <md-card-header>
      <md-card-title><h1>Shop Vintage Clothing</h1></md-card-title>
    </md-card-header>

    <img md-card-image src="../../assets/VintageClothing1.jpg" >
    <md-card-content>
      <p>
        Description about this section.Description about this section.Description about this section.Description about this section.
      </p>
    </md-card-content>
    <md-card-actions>
      <button color="primary" md-raised-button>SHOP</button>
    </md-card-actions>
  </md-card>
</div>

<div class="card-container">
  <md-card class="inset card-hover">
    <md-card-header>
      <md-card-title><h1>Shop Vintage Furniture</h1></md-card-title>
    </md-card-header>
    <img md-card-image src="../../assets/VintageFurniture1.jpg" >
    <md-card-content>
      <p>
        Description about this section.Description about this section.Description about this section.Description about this section.
      </p>
    </md-card-content>
    <md-card-actions>
      <button color="primary" md-raised-button>SHOP</button>
    </md-card-actions>
  </md-card>
</div>
<div class="card-container">
  <md-card class="inset card-hover">
    <md-card-header>
      <md-card-title><h1>Shop Vintage Decor</h1></md-card-title>
    </md-card-header>
    <img md-card-image src="../../assets/VintageDecor1.jpg" >
    <md-card-content>
      <p>
        Description about this section.Description about this section.Description about this section.Description about this section.
      </p>
    </md-card-content>
    <md-card-actions>
      <button color="primary" md-raised-button>SHOP</button>
    </md-card-actions>
  </md-card>
</div>