<div class="card-container">
  <mat-card class="inset card-hover">
    <mat-card-header routerLink="/vintage">
      <mat-card-title><h1>Shop Vintage Clothing</h1></mat-card-title>
    </mat-card-header>

    <img mat-card-image routerLink="/vintage" src="../../assets/VintageClothing1.jpg" >
    <mat-card-content>
      <p>
        Description about this section.Description about this section.Description about this section.Description about this section.
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button color="primary" routerLink="/vintage" mat-raised-button>SHOP</button>
    </mat-card-actions>
  </mat-card>
</div>

<div class="card-container">
  <mat-card class="inset card-hover">
    <mat-card-header routerLink="/vintage">
      <mat-card-title><h1>Shop Holidays Collection</h1></mat-card-title>
    </mat-card-header>
    <img mat-card-image src="../../assets/VintageFurniture1.jpg" routerLink="/vintage">
    <mat-card-content>
      <p>
        Description about this section.Description about this section.Description about this section.Description about this section.
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button color="primary" routerLink="/vintage" mat-raised-button>SHOP</button>
    </mat-card-actions>
  </mat-card>
</div>