<div class="card-container">
    <mat-card class="inset card-hover">
        <img mat-card-image routerLink="/vintage" alt="holiday vintage clothing banner" src="../../assets/banners/Holiday_banner_1.png" >
        <mat-card-content>
            <h1 routerLink="/vintage">
                Authentic Vintage Clothing for Women.
            </h1>
        </mat-card-content>
        <mat-card-actions>
            <button color="primary" routerLink="/vintage" mat-raised-button>SHOP</button>
        </mat-card-actions>
    </mat-card>
</div>

<div class="card-container">
    <mat-card class="inset card-hover">
        <img mat-card-image routerLink="/vintage" alt="holiday vintage clothing banner" src="../../assets/banners/Holiday_banner_1.png" >
        <mat-card-content>
            <product-image></product-image>
            <product-image></product-image>
        </mat-card-content>
    </mat-card>
</div>